@charset"UTF-8";

h1 {
	text-align: center;
	font-family: 'bree Serif',serif;
	color: hsl(38, 100%, 56%);
	font-size: 40px;
}

h2 {
	color: green;
}

h3 {
	text-align: center;
	color:rgb(255,255,0);
	font-family: 'Allan',serif;
	font-size: 30px;
}

p {
	font-weight: bold;
	font-style:	italic;
	line-height: 200%;
	text-shadow: 0.1em 0.1em #333;
}

header {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 1.250em;
	text-align: center;
	color: #6F3;
	margin: 0.938em;
	border-radius: 15px;
}

body {
		background:url(../images/titanfall.jpg) no-repeat fixed center top;
		width: 100%;
}

nav ul {
	color: #0000FF;
	list-style: none;
	padding: 20px 0 0 535px;

}

nav ul li {
	display: inline;
	padding: 0 0 0 40px;
	font-size: 17px;
}



nav ul li a:hover {
	color: pink;
}

nav ul li a:link {
	color: red;
}

nav ul li a:visited {
	color: yellow;
}

nav ul li a:active {
	color: purple;
}


#top {
	width: 94%;
	background-color: #000;
	border-radius: 10px;
	float: left;
	margin: 0 0 0 30px;
}

article {
	color: #CF6;
	width: 70%;
	float: left;
	margin: 70px 35px 10px 30px;
	padding: 10px 10px 10px 30px;
	border-radius: 30px;
	text-align: center;
	box-shadow: 10px 10px 5px yellow;
}

aside {
	color: #000;
	width: 15%;
	border: 1px solid #666;
	float: left;
	margin: 70px 0 10px 0;
	padding: 10px 10px 10px 10px;
	background: linear-gradient(#E03800, #f78585);
	border-radius: 15px;
	text-align: center;
	box-shadow: 10px 10px 5px yellow;
}

table {
	border: 2px solid black;
	border-radius: 15px;
	background-color: #000;
	width: 60%;
	padding: 5px 60px 15px 20px;
	margin: 15px 35px 0 55px;
	float: left;
	letter-spacing: 2px;
	font-size: 12px;
	border-spacing: 10px;
}

td,th {
	border: 2px solid white;
	text-align: 1px;
	padding: 60px;
	margin: 5px;
	color: #0F0;
}

th:hover {
	background-color: red;
	
}


td:hover {
	background-color: green;
}

tr {
	padding: 60px 0 0 30px;
}

input {
	width: 175px;
	display: block;
	border: 1px solid #999;
	height: 25px;
	float: left;
	clear: both;
}

input:focus {
	background-color: yellow;
}
input#submit {
	color: #090;
	background-color: #FF3;
	padding: 5px;
	margin: 20px;
	width: 230px;
	text-align: center;
}

input#submit:hover {
	color: #930;
	background-color: #00C;
}

input#submit:focus {
	color: #656565;
	background-color: #C36;
}

label {
	color: #0F0;
	float: left;
	clear: both;
	padding: 5px 0 10px; 0;
	text-align: 50px;
}

#dropdown {
	float: left;
	clear: both;
}

#forms {
	width: 20%;
	float: left;
	clear: both;
	height: 780px;
	padding: 10px 20px 1px 90px;
	border: 2px solid white;
	background-color: black;
	margin: 15px 30px 0 30px;
	border-radius: 10px;
}

#search {
	float: right;
	color: white;
	padding: 10px 120px 10px 0;
}

#search:focus {
	background-color: yellow;
}
#photos {
	padding 10px 0 0 120px;
	margin: 15px 300px 0 60px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: black; 
	width: 60%;
	float: right;
	clear; both;
}

#photos .photo1 {
	padding: 0 0 0 60px;
	margin: 0 0 0 60px;
	opacity:0.8;

}

.footer {
	text-align: center;
	clear: both;
}

.footer li {
	height: 155px;
	display: inline; 
	list-style-type: none; 
}

.footer ul{
	list-style-type: none;
	display: inline;
	
}