@charset"UTF-8";

body {
		background-image:url(images/titanfall.jpg);
}

h1 {
	text-align: center;
	font-family: 'bree Serif',serif;
	color: #FF8000;
	font-size: 40px;
}

header {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 1.250em;
	text-align: center;
	color: #6F3;
	margin: 0.938em;
	border-radius: 15px;
}

nav ul {
	color: #0000FF;
	list-style: none;
	padding: 20px 0 0 535px;

}

nav ul li {
	display: inline;
	padding: 0 0 0 40px;
	font-size: 17px;
}

nav ul li a {
	color: green;
}

nav ul li a:hover {
	color: pink;
}

#top {
	width: 90%;
	background-color: #000;
	border-radius: 10px;
	float: left;
}

article {
	color: #CF6;
	width: 70%;
	float: left;
	margin: 70px 35px 10px 10px;
	padding: 10px 10px 10px 15px;
	border-radius: 30px;
	text-align: center;
}

aside {
	color: #000;
	width: 20%;
	border: 1px solid #666;
	float: left;
	margin: 70px 0 10px 0;
	padding: 10px 10px 10px 10px;
	background-color: #0C0;
	border-radius: 15px;
	text-align: center;
}

table {

}



